{% extends 'base.html' %}

{% block head %}
<title>Workout</title>
{% endblock head %}

{% block content %}
{% for template in templates %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ template.name }}</h5>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button"
                  id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Duplicate</a>
            <a class="dropdown-item" href="#">Share</a>
            <a class="dropdown-item" href="#">Delete</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Start Workout</a>
          </div>
        </div>
        <p class="card-text">
            {% for exercise in template.exercises.all %}
            {{ exercise.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% endfor %}

{% endblock content %}